* {
    box-sizing: border-box;
}

:root {
    --primary: #3ea060;
    --secondary: #fff;
    --history: rgb(192, 191, 191);
    --border: rgb(173, 169, 169);
    --search: rgb(85, 83, 83);
}

body, html {
    height: 95%;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 20%;
    background-color: black;
}

header {
    margin: 0;
    text-align: center;
    display: inline;
    color: var(--secondary);
    font-size: 20px;
    font-weight: bold;
    font-family: revert;
    padding: 0;
}

h2 {
    margin: 0;
    font-size: 18px;
    text-align: left;
}

.container {
    color: var(--secondary);
    display: inline;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 10px;
    padding: 0;
}

.input {
    border: none;
}

.input input{
    margin: 10px;
}

.input button {
    width: 150px;
    height: 25px;
    margin: 10px;
}

.input-form {
    font-size: 20px;
    margin: 10px;
}

.stock-history {
    text-align: left;
    font-size: 1.0rem;
    background-color:var(--history);
    text-transform: uppercase;
}

.stock-label {
    margin: 0 0 0 20px;
}

.p-button {
    color: #1a4088;
    font-size: 14px;
    font-weight: bolder;
}

.p-button:hover {
    background-color: #82aaf3;
    font-size: 14px;
    font-weight: bolder;
}

#stk {
    width: 150px;
    height: 25px;
}

.stock-history-p {
    display: inline-block;
    color: white;
}

.btn-hist {
    margin: 0;
    display: inline-block;
    color: var(--search);
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--history);
    background-color: var(--history);
    width: 75px;
    transform: translate(-1px, -1px);
  }

.btn-hist:hover {
    margin: 0;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background-color:#0078e7;
    width: 75px;
    transform: translate(-1px, -1px);
  }

.stock-legend {
    display: grid;
    text-align: left;
    color: black;
    width: fit-content;
    padding: 10px;
    margin: 10px;
}

.stock-legend th {
padding: 10px;
    margin: 10px;
}

footer {
    /* position: relative;
    min-height: 60vh; */
}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}

footer h2 {
    display: inline-block;
    color: #1a4088;
}

footer form {
    display: inline-block;
}

#user-chosen {
    margin: 5px 0;
    text-align: center;
    width: 100px;
    display: inline-block;
}
#user-open, #user-high, #user-low, #user-close {
    margin: 5px 0;
    text-align: center;
    display: inline-block;
    width: 150px;
}

#currency-container h2 {
    text-align: left;
}

.error-msg {
    color: red;
    margin-left: 10px;
}
