* {
    box-sizing: border-box;
}

:root {
    --primary: #3ea060;
    --secondary: #fff;
    --history: rgb(192, 191, 191);
    --border: rgb(173, 169, 169);
    --search: rgb(85, 83, 83);
}

body, html {
    height: 100%;
    margin: 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: 20%;
    background-color: black;
}

header {
    margin: 0;
    text-align: center;
    display: inline;
    color: var(--secondary);
    font-size: 20px;
    font-weight: bold;
    font-family: revert;
    padding: 0;
}

h2 {
    margin: 0;
    text-align: left;
}

h3 {
    margin: 10px;
    text-align: left;
}

.container {
    color: var(--secondary);
    display: inline;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 10px;
    padding: 0;
}

.input {
    border: none;
}

.input input{
    margin: 10px;
}

.input button {
    width: 150px;
    height: 25px;
    margin: 10px;
}

.input-form {
    font-size: 26px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

.stock-history {
    text-align: left;
    font-size: 1.0rem;
    background-color:var(--history);
    text-transform: uppercase;
}

.stock-label {
    margin: 0 0 0 20px;
}

.p-button {
    color: #1a4088;
    font-size: 14px;
    font-weight: bolder;
}

.p-button:hover {
    background-color: #82aaf3;
    font-size: 14px;
    font-weight: bolder;
}

#stk {
    width: 150px;
    height: 25px;
}

.stock-history-p {
    display: inline-block;
    color: white;
}

.btn-hist {
    margin: 0;
    display: inline-block;
    color: var(--search);
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid var(--history);
    background-color: var(--history);
    width: 75px;
    transform: translate(-1px, -1px);
  }

.btn-hist:hover {
    margin: 0;
    font-size: 1.1rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background-color:#0078e7;
    width: 75px;
    transform: translate(-1px, -1px);
  }

.stock-legend {
    display: inline-block;
    text-align: left;
    color: black;
    width: fit-content;
    margin: 10px;
}

.stock-legend th {
    padding: 10px;
    margin: 10px;
}

.stock-title {
    display: grid;
    text-align: left;
    color: white;
    width: fit-content;
}

.stock-news {
    display: flex;
    justify-content: space-around;
}

.fin-index p {
    display: inline-block;
    margin: 10px;
    color: white;
}

.fin-news {
    color: white;
}

.fin-news p {
    width: 300px;
    margin: 10px;

}

.fin-news img {
    width: 300px;
    height: 250px;
    margin: 10px;
}

.fin-news a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    margin: 10px;
}

.fin-news a:hover {
    display: block;
    text-decoration: none;
    color: palevioletred;
}

footer h4 {
    display: inline-block;
    color: #82a2df;
    margin: 10px;
}

footer form {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    display: inline-block;
    margin: 0 0 0 25px;
}

#user-chosen {
    margin: 5px 0;
    text-align: center;
    width: 100px;
    display: inline-block;
}

.error-msg {
    color: red;
    margin-left: 10px;
}


@media screen and (max-width: 1024px) {
    .stock-history {
        display: block;
        width: 100%;
    }

    .stock-label {
        margin: 0;
    }

    footer h4 {
        display: block;
        width: 100%;
    }

    .stock-news {
        font-size: 16px;
        margin: 120px 10px;
    }
}


@media screen and (max-width: 768px) {
    #stock-form  {
        font-size: 16px;
    }

    .input-form  {
        font-size: 16px;
    }

    .input button {
        width: 100px;
    }

    .stock-news {
        font-size: 16px;
        margin: 100px 10px;
    }

    .fin-index p {
        margin: 10px 0;
    }

    .stock-legend {
        font-size: 14px;
        margin: 0;
    }

    .fin-news p {
        width: 200px;
        margin: 10px;
    
    }
    
    .fin-news img {
        width: 200px;
        height: 225px;
        margin: 10px;
    }
    
    .fin-news a {
        margin: 10px;
    }

}

@media only screen and (max-width: 540px) {
    #stock-form  {
        font-size: 12px;
    }

    .input-form  {
        font-size: 12px;
    }

    .input-form input  {
        font-size: 12px;
        width: 100px;
    }

    .input button {
        width: 100px;
        height: 20px;
        font-size: 11px;
    }

    #stk {
        width: 100px;
        height: 20px;
        margin: 10px 5px;
    }

    .stock-news {
        font-size: 12px;
        margin: 50px 5px;
    }

    .fin-index p {
        margin: 10px 0;
    }

    .stock-legend {
        font-size: 12px;
        margin: 0;
    }

    .fin-news p {
        width: 150px;
        margin: 10px;
    }
    
    .fin-news img {
        height: 150px;
        margin: 10px;
    }
    
    .fin-news a {
        margin: 10px;
    }

}

@media only screen and (max-width: 425px) {
    #stock-form  {
        font-size: 12px;
    }

    .input-form  {
        display: block;
        font-size: 12px;
    }

    .input {
        text-align: center;
    }

    .input-form input  {
        font-size: 12px;
        width: 100px;
    }

    .input button {
        width: 325px;
        height: 20px;
        font-size: 11px;
    }

    #stk {
        width: 100px;
        height: 20px;
        margin: 10px 5px;
        display: none;
    }

    .stock-label {
        display: none;
    }

    .stock-news {
        display: block;
        font-size: 12px;
        margin: 0 5px;
        text-align: center;
    }

    .stock-news h3 {
        text-align: center;
    }

    .stock-title {
        text-align: center;
        width: unset;
    }

    .fin-index p {
        margin: 10px 0;
    }

    .stock-legend {
        font-size: 12px;
        margin: 0;
    }

    .fin-news p {
        display: block;
        width: 100%;
    }
    
    .fin-news img {
        height: 150px;
        margin: 10px;
    }
    
    .fin-news a {
        margin: 10px;
    }

    footer form {
        font-size: 12px;
        position: unset;
        margin:unset;
    }
    footer input {
        width: 150px;
        font-size: 12px;
        position: unset;
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 280px) {
 
}
